body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.apply-btn {
    padding: 6px 12px;
    border: none;
    background-color: white;
    font-family: inherit;
    color: #82a5ca;
    font-weight: 800;
    cursor: pointer;
}

.text-underline {
    border-bottom: 4px solid white;
}

#main-logo {
    width: 250px;
}

.hero {
    background-image: url("images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 450px 0;
}

#title {
    text-shadow: 0px 0px 4px black;
}
